<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate"
  xmlns="http://mapbuilder.sourceforge.net/mapbuilder"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">

  <models>
    <OwsContext id="mainMap">
      <defaultModelUrl>context.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <maxResolution>0.703125</maxResolution>
        </MapPaneOL>
        <AoiLink id="discoveryClientLink">
          <href>../catalog/catalog.html</href>
          <linkLabel>Geobase Discovery</linkLabel>
        </AoiLink>
        <AoiLink id="feedbackClientLink">
          <href>../feedback_client/index.html</href>
          <linkLabel>User Feedback</linkLabel>
        </AoiLink>
        <AoiLink id="notificationClientLink">
          <href>../notification/index.html</href>
          <linkLabel>Feedback Feed</linkLabel>
        </AoiLink>
        <AoiLink id="updateClientLink">
          <href>../update/index.html</href>
          <linkLabel>Update Feed</linkLabel>
        </AoiLink>
        <AoiLink id="eventClientLink">
          <href>../event/index.html</href>
          <linkLabel>Event Feed</linkLabel>
        </AoiLink>
        <CursorTrack id="cursorTrack"/>
      </widgets>
    </OwsContext>
    
    <FeatureCollection id="geoRSS">
      <defaultModelUrl>http://www.pvretano.com/cgdi/cwwfs.cgi?SERVICE=WFS&amp;VERSION=1.0.0&amp;REQUEST=GetFeature&amp;TYPENAME=cw:EVENTFEED&amp;outputFormat=ATOM</defaultModelUrl>
      <widgets>
        <GmlRendererOL id="testGmlRenderer">
          <targetModel>mainMap</targetModel>
          <sldModel>sld</sldModel>
          <GeoRSS>true</GeoRSS>
          <hoverCursor>pointer</hoverCursor>
        </GmlRendererOL>
        <Widget id="eventsListing">
          <targetModel>mainMap</targetModel>
          <stylesheet>GeoRSSListing.xsl</stylesheet>
        </Widget>
      </widgets>
      <tools>
        <FeatureSelectHandler id="featureHighlighter">
          <targetModel>mainMap</targetModel>
        </FeatureSelectHandler>
      </tools>
      <namespace>xmlns:gml='http://www.opengis.net/gml' xmlns:wfs='http://www.opengis.net/wfs' xmlns:topp='http://www.openplans.org/topp'</namespace>
    </FeatureCollection>
  </models>
  
  <widgets>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar> 
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
