#bodyeditor
{
position:absolute;
background-color:#baf9ff;
top:50px;
border:1px solid #335533;
width:800px;
height:800px;
left:1000px;
}
#general{
border:1px solid #335533;
position:absolute;
background-color:#ecffdf;
top:10px;
left:10px;
right:10px;
bottom:10px;
}
#LegendType{
position:absolute;
top:10px;
border:1px solid #335533;
width:600px;
height:50px;
left:10px;
}
.LegendType{
position:relative;
float:left;
top:10px;
left:10px;
}
#bordurestyle{
top:100px;
position:absolute;
border:1px solid #335533;
width:600px;
height:50px;
left:10px;
}
.bordurestyle{
position:relative;

left:20px;
}
#color{
top:200px;
position:absolute;
border:1px solid #335533;
width:600px;
height:150px;
left:10px;
}
.color{
position:relative;
top:20px;
left:20px;
}
.colorpics{
position:relative;
top:0px;
left:200px;
}
#modelderemplissage{
top:400px;
position:absolute;
border:1px solid #335533;
width:600px;
height:50px;
left:10px;
}
.modelderemplissage{
position:relative;

left:20px;
}
#choixchamp{
top:500px;
position:absolute;
border:1px solid #335533;
width:600px;
height:250px;
left:10px;
}
#choixchamp2{
top:500px;
position:absolute;
border:1px solid #335533;
width:600px;
height:150px;
left:10px;
}
.choixchamp2{
position:relative;
top:20px;
left:20px;
}

.choixchamp2pics{
position:relative;
top:0px;
left:200px;
}
#choixfeatureProperty
{
width:200px;
}