/******************************* css du Layer Control **************************************/
.layerControl {
	width: 350px;
}

.altRow_0 {
	background-color: #D1E2EC;
}

.altRow_1 {
	background-color: #FFFFFF;
}

.GroupHeader {
	font-variant: small-caps;
	font-size: small;
	font-weight: bold;
	padding-left: 3px;
	background: #556655;
	text-align:left;
}

.GroupHeaderFold {
	width: 10px;
	font-variant: small-caps;
	font-size: small;
	font-weight: bold;
	padding-left: 3px;
	background-color: Transparent;
	padding: 0px;
	border: 0px;
	cursor: pointer;
}

.GroupHeaderTitle {
	display: inline;
	background: Inherit;
}

.LayerHeader {
	text-align: center;
	padding-top: 5px;
	position: relative;
	display: inline;
	display: block;
	height: 30px;
}

.indexLayerHeader {
	position: absolute;
	display: inline;
	margin-top: 3px;
	top: 5px;
	left: 3px;
}

.inputLayerHeader {
	display: inline;
	position: absolute;
	left: 15px;
}

.checkboxLayerHeader {
	float: left;
	padding-top: 3px;
}

.buttonLayerHeader {
	float: left;
}

.nameLayerHeader {
	position: absolute;
	top: 10px;
	left: 160px;
}

.transpLayerHeader {
	display: inline;
	position: absolute;
	top: 4px;
	right: 0px;
}

.legend {
	text-align: left;
}

.legend img{
background-color:Transparent;
}