#mainbody {
  margin-left: 0px;
  width: 90%;
}

#catalogSearchForm {
  background-color: white;
}

#body_left {
  position: relative;
  float: left;
  top: 0px;
}
#body_right {
  position: relative;
  float: left;
  top: 0px;
  margin-left: 10px;
}

#mainButtonBar {
  position: relative;
  top: -25px;;
  margin-left: 1px;
  height:24px;
  width:240px

}

#debug_button {
  display: none;
}


/* 
 * Buttons
 */
.mbButton:hover {
  text-decoration: none;
}

/*
 * Metadata
 */

table.metadata {
  margin-left: 12px;
}

table.metadata td {
  vertical-align: top;
}

/*
 * LayerControl
 */

.nameLayerService {
  display: block;
  float: left;
  position: relative;
  width: 60px;
}

.nameLayerHeader {
  display: block;
  width: 250px;;
  text-align: left;
  position:absolute;
  top:10px;
  left:180px;
}


.inputLayerHeader
{
    display:inline;
    position:absolute;
}

.layerControl {
  margin-left: 10px;
  width: 460px;
  overflow: auto;
  max-height: 285px;
}

.searchResults {
  position: relative;
  top: -200px;
  left: 412px;
  max-height: 400px;
}

#workspace h3  {
  overflow: none;
  padding-left: 15px;
}

/*
 * MaxFeatures
 */

.maxFeaturesText {
  position: relative;
  right: 0px;
  display: block;
  margin-left: 3px;
  bottom: 20px;
  font-size: 9px;
}

/*
 * Workspace
 */

/* fix horizontal scrollbar in layer control */
#workspace h2,h3
{
  padding: 0px;
}


