<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <Context id="mainMap">
      <defaultModelUrl>../data/context/metacartaWorldMap.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <fixedSize>true</fixedSize>
        </MapPaneOL>
        <PanZoomBar id="panZoomBar"/>
      </widgets>
    </Context>
    <ContextCollection id="myMapCollection">
      <defaultModelUrl>../data/context/worldMapsCollection.xml</defaultModelUrl>
      <widgets>
        <CollectionList id="mapList">
          <targetModel>mainMap</targetModel>
        </CollectionList>
      </widgets>
    </ContextCollection>
    <WmsCapabilities id="wmsCapabilities">
      <debug/>
      <title>OGC Web Map Server (WMS)</title>
      <defaultModelUrl>/geoserver/wms?request=GetCapabilities&amp;service=WMS</defaultModelUrl>
      <widgets>
        <SelectMapLayers id="layerList">
          <htmlTagId>workspace</htmlTagId>
          <outputNodeId>workspaceCanvas</outputNodeId>
        </SelectMapLayers>
        <ModelUrlInput id="wmsUrlInput">
          <htmlTagId>workspace</htmlTagId>
          <outputNodeId>workspaceCanvas</outputNodeId>
          <title>Enter a WMS GetCapabilities URL:</title>
        </ModelUrlInput>
      </widgets>
      <nodeSelectXpath>//Layer</nodeSelectXpath>
    </WmsCapabilities>
  </models>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
