<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <OwsContext id="mainMap">
      <defaultModelUrl>context.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
           <displayOutsideMaxExtent>true</displayOutsideMaxExtent>
          <fixedSize>true</fixedSize>
        </MapPaneOL>
        <LayerControl id="contextLegend">
          <htmlTagId>layerControl</htmlTagId>
          <legendImageEnable>/images/LegendEnable.png</legendImageEnable>
          <legendImageDisable>/images/LegendDisable.png</legendImageDisable>
          <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
          <limitImageEnable>/images/LimitDisable.png</limitImageEnable>
          <limitImageDisable>/images/LimitDisable.png</limitImageDisable>
          <saveImageEnable>/images/SaveEnable.png</saveImageEnable>
          <saveImageDisable>/images/SaveDisable.png</saveImageDisable>
          <loadingImage>/images/LoadingSpinner.gif</loadingImage>
        </LayerControl>
        <LayerMaxFeatures id="layerMaxFeatures">
          <maxFeatures>5</maxFeatures>
        </LayerMaxFeatures>
        <LayerMetadata id="layerMetadata">
          <htmlTagId>layerMetadata</htmlTagId>
        </LayerMetadata>
        <CursorTrack id="cursorTrack"/>
      </widgets>
    </OwsContext>
    <!-- Contains the results of a catalog search -->
    <Model id="catalogSearchResults">
      <defaultModelUrl>WRS_Service+Layers_GetRecords.xml</defaultModelUrl>
      <widgets>
        <Loading2 id="loading">
          <htmlTagId>loading</htmlTagId>
          <imageSrc>/images/LoadingSpinner.gif</imageSrc>
          <textMessage>searching</textMessage>
        </Loading2>
      </widgets>
    </Model>
    <!-- Contains the results of a search, converted into OWSContext format -->
    <OwsContext id="normalizedSearchResults">
      <!--
      <defaultModelUrl>context2.xml</defaultModelUrl>
      -->
      <widgets>
        <SelectLayerFromContext id="selectLayer">
          <htmlTagId>selectLayer</htmlTagId>
          <targetModel>mainMap</targetModel>
          <layerAddImage>/images/LayerAddDisable.png</layerAddImage>
          <layerMetadataImage>/images/QueryDisable.png</layerMetadataImage>
        </SelectLayerFromContext>
      </widgets>
    </OwsContext>
    <Model id="filterExpression">
      <defaultModelUrl>Filter.xml</defaultModelUrl>
      <widgets>
        <CatalogSearchForm id="catalogSearchForm">
          <htmlTagId>catalogSearchForm</htmlTagId>
          <targetModel>catalogSearchResults</targetModel>
          <targetContext>normalizedSearchResults</targetContext>
          <wrsUrl>http://demo.cubewerx.com/cgdi/cwwrs.cgi</wrsUrl>
          <wrsServiceAssociation>Serves</wrsServiceAssociation><!-- Can be: Serves, OperatesOn -->
          <mapModel>mainMap</mapModel>
          <sourceContext>mainMap</sourceContext>
        </CatalogSearchForm>
      </widgets>
    </Model>

    <!--
    <ContextCollection id="myMapCollection">
      <defaultModelUrl>../data/context/worldMapsCollection.xml</defaultModelUrl>
      <widgets>
        <CollectionList id="mapList">
          <targetModel>mainMap</targetModel>
        </CollectionList>
      </widgets>
    </ContextCollection>
    <WmsCapabilities id="wmsCapabilities">
      <title>OGC Web Map Server (WMS)</title>
      <defaultModelUrl>wmsCapabilities.xml</defaultModelUrl>
      <widgets>
        <SelectMapLayers id="selectMapLayers">
          <htmlTagId>selectMapLayers</htmlTagId>
        </SelectMapLayers>
        <ModelUrlInput id="wmsUrlInput">
          <htmlTagId>modelUrlInput</htmlTagId>
          <title>Enter a WMS GetCapabilities URL:</title>
        </ModelUrlInput>
      </widgets>
      <tools>
        <EditContext id="editContext">
          <targetModel>mainMap</targetModel>
        </EditContext>
      </tools>
    </WmsCapabilities>
    <WfsCapabilities id="wfsCapabilities">
      <defaultModelUrl>wfsCapabilities.xml</defaultModelUrl>
      <widgets>
        <SelectFeatureType id="featureTypes">
          <htmlTagId>selectFeatureType</htmlTagId>
          <toolId>wfsController</toolId>
        </SelectFeatureType>
        <ModelUrlInput id="wfsUrlInput">
          <htmlTagId>wfsUrlInput</htmlTagId>
          <title>Enter a WFS GetCapabilities URL:</title>
        </ModelUrlInput>
      </widgets>
      <tools>
        <EditContext id="editContext2">
          <targetModel>mainMap</targetModel>
        </EditContext>
      </tools>
      <nodeSelectXpath>/wfs:WFS_Capabilities/wfs:FeatureTypeList/wfs:FeatureType</nodeSelectXpath>
    </WfsCapabilities>
    <FeatureTypeSchema id="featureTypeSchema">
      <defaultModelUrl>wfsDescribeFeatureType.xml</defaultModelUrl>
      <widgets>
        <FilterAttributes id="attributeFilter">
          <htmlTagId>filterAttributes</htmlTagId>
        </FilterAttributes>
      </widgets>
    </FeatureTypeSchema>
    -->
  </models>
  <widgets>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <SetAoi id="setAoi">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/SetAoiEnable.png</enabledSrc>
      <disabledSrc>/images/SetAoiDisable.png</disabledSrc>
    </SetAoi>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
    <SaveContext id="saveContext">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/SaveDisable.png</disabledSrc>
      <tooltip>Save OWS Context</tooltip>
    </SaveContext>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>

