<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<OWSContext xmlns="http://www.opengis.net/context" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sld="http://www.opengis.net/sld" xmlns:ogc="http://www.opengis.net/ogc" xmlns:ows="http://www.opengis.net/ows" xmlns:param="http;//www.opengis.net/param" version="0.0.13" id="ows-context-tie" xsi:schemaLocation="http://www.opengis.net/oc oc_0_0_13.xsd">
  <General>
    <Window width="600" height="300"/>
    <ows:BoundingBox crs="EPSG:4326">
      <ows:LowerCorner>-180 -90</ows:LowerCorner>
      <ows:UpperCorner>180 90</ows:UpperCorner>
    </ows:BoundingBox>
    <Title xml:lang="en">Simple World Context</Title>
    <KeywordList>
      <Keyword>world</Keyword>
    </KeywordList>
  </General>
  <ResourceList>
    <Layer queryable="0" hidden="0">
      <Server service="OGC:WMS-C" version="1.0.0" title="OGC:WMS-C">
        <OnlineResource xlink:type="simple" xlink:href="http://labs.metacarta.com/wms/vmap0"/>
      </Server>
      <Name>basic</Name>
      <Title>World Basemap</Title>
      <SRS>EPSG:4326 EPSG:4269</SRS>
      <FormatList>
        <Format>image/jpeg</Format>
        <Format>image/png</Format>
        <Format>image/gif</Format>
        <Format current="1">image/png; mode=24bit</Format>
        <Format>image/wbmp</Format>
        <Format>image/tiff</Format>
      </FormatList>
      <StyleList>
        <Style current="1">
          <Name>default</Name>
          <Title>default</Title>
        </Style>
      </StyleList>
    </Layer>
    <FeatureType hidden="0">
      <Server service="OGC:WFS" version="1.0" title="My Geoserver WFS">
        <OnlineResource method="POST" xlink:type="simple" xlink:href="http://localhost:8080/geoserver/wfs?"/>
      </Server>
      <Name>topp:states</Name>
      <Title>USA Population</Title>
      <Abstract>This is some census data on the states.</Abstract>
      <!--
      <ogc:Filter>
        <ogc:PropertyIsEqualTo>
          <ogc:PropertyName>CLASS</ogc:PropertyName>
          <ogc:Literal>3</ogc:Literal>
        </ogc:PropertyIsEqualTo>
      </ogc:Filter>
      <sld:MinScaleDenominator>50000</sld:MinScaleDenominator>
      <sld:MaxScaleDenominator>5000</sld:MaxScaleDenominator>
      -->
      <SRS>EPSG:4326</SRS>
    </FeatureType>
  </ResourceList>
</OWSContext>
