<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>

<OWSContext version="0.0.13" id="ows-context-tie" 
			xmlns="http://www.opengis.net/context" 
			xmlns:xlink="http://www.w3.org/1999/xlink" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns:sld="http://www.opengis.net/sld"
			xmlns:ogc="http://www.opengis.net/ogc" 
			xmlns:ows="http://www.opengis.net/ows" 
			xmlns:param="http;//www.opengis.net/param" 
			xsi:schemaLocation="http://www.opengis.net/oc oc_0_0_13.xsd">

	<General>
		<Window width="550" height="275"/>
		
		<ows:BoundingBox crs="EPSG:4326">
     <ows:LowerCorner>-142 40</ows:LowerCorner>
      <ows:UpperCorner>-52 85</ows:UpperCorner>
		</ows:BoundingBox>
			  
		<Title xml:lang="en">GeoRSS Using OWSContext</Title>
		<KeywordList>
			<Keyword>world</Keyword>
			<Keyword>atlas</Keyword>
			<Keyword>georss</Keyword>
		</KeywordList>
		  
		<Abstract>Map of Australia.</Abstract>
	</General>  

	<!--
		The list of openlayers layers/controls goes here.
		The map base layer must be first??	
	-->
	<ResourceList>
		
		
			
		<!-- WMSC layer ... the tile cache --> 
		<Layer queryable="0" hidden="0">
          <Server service="OGC:WMS-C" version="1.0.0" title="OGC:WMS-C">
            <OnlineResource xlink:type="simple" xlink:href="http://labs.metacarta.com/wms/vmap0"/>
          </Server>
          <Name>basic</Name>
          <Title>basic</Title>
          <SRS>EPSG:4326 EPSG:4269</SRS>
          <FormatList>
            <Format>image/jpeg</Format>
            <Format>image/png</Format>
            <Format>image/gif</Format>
            <Format current="1">image/png; mode=24bit</Format>
            <Format>image/wbmp</Format>
            <Format>image/tiff</Format>
          </FormatList>
          <StyleList>
            <Style current="1">
              <Name>default</Name>
              <Title>default</Title>
            </Style>
          </StyleList>
<!-- 
			<Server service="OGC:WMS-C" version="1.1.1" title="TileCache">
				<OnlineResource xlink:type="simple" xlink:href="http://wmsc1.terrapages.net/getmap"/>
			</Server>
 			<Name>UnprojectedStreet</Name>
			<Title>UnprojectedStreet</Title>
			<SRS>EPSG:4326</SRS>
			<FormatList>
				<Format>image/jpeg</Format>
			</FormatList>
 -->
		</Layer>
		
		<!--  The openlayers georss layer
		<Layer queryable="0" hidden="0">
			<Server service="OGC:GeoRSS" title="grgS">
				<OnlineResource xlink:type="simple" xlink:href="http://localhost:8080/OL-CGDI-IP/test/feedgeorss.xml"/>
			</Server>
			<Name>GeoRssFeaturesName</Name>
			<Title>GeoRssFeaturesTitle</Title>
		</Layer>  -->

	</ResourceList>
</OWSContext>

