<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="DemisMapExample" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
  
    <OwsContext id="mainMap">
      <defaultModelUrl>DemisWorldMap.xml</defaultModelUrl>
      
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <fixedSize>true</fixedSize>
        </MapPaneOL>

        <MapScaleText id="mapScaleText"/>
        <!--
        <MapScaleBar id="mapScaleBar"/>
        -->
        <AoiForm id="aoiForm">
          <stylesheet>AoiForm.xsl</stylesheet>
        </AoiForm>
 
        <CursorTrack id="cursorTrack"/>
        
        <ModelUrlInput id="urlInput"/>
        
        <WebServiceForm id="webServiceForm">
          <htmlTagId>webServiceForm</htmlTagId>
          <targetModel>gml2FeatureTemplate</targetModel>
          <stylesheet>../../lib/widget/Null.xsl</stylesheet>
          <requestStylesheet>wfs_GetFeature.xsl</requestStylesheet>
          <webServiceUrl>http://eo1.geobliki.com/wfs</webServiceUrl>
        </WebServiceForm>
    
      </widgets>
      
      <tools>
        <History id="extentHistory"/>
      </tools>
    </OwsContext>
    
    <StyledLayerDescriptor id="sld">
      <defaultModelUrl>wfs_GetFeature.xsl</defaultModelUrl>
      <sldXPath>//wmc:StyleList</sldXPath>
    </StyledLayerDescriptor>
    
    <FeatureCollection id="gml2FeatureTemplate">
      <method>post</method>
 
      <widgets>
         <GmlRendererOL id="vectorGraphicsRenderer">
          <targetModel>mainMap</targetModel>
          <sldModel>sld</sldModel>
          <defaultStyleName>Normal</defaultStyleName>
          <selectStyleName>Highlite</selectStyleName>
          <stylesheet>geobliki2wfs.xsl</stylesheet>
          <featureOnClick>featurePopup</featureOnClick>
        </GmlRendererOL>
        <TipWidgetOL id="featurePopup">
          <stylesheet>datapopup.xsl</stylesheet>
          <width>275</width>
          <height>137</height>
          <opacity>0.8</opacity>
          <backgroundColor>#D0D0D0</backgroundColor>
          <border>1px solid black</border>
        </TipWidgetOL>
        <Legend id="wfsLegend">
          <htmlTagId>legend</htmlTagId>
        </Legend>
      </widgets>
      <tools>
        <FeatureSelectHandler id="featureHighlighter">
          <targetModel>mainMap</targetModel>
        </FeatureSelectHandler>
      </tools>
      <namespace>xmlns:gml="http://www.opengis.net/gml" xmlns:eo1="http://eo1.gsfc.nasa.gov/" xmlns:wfs="http://www.opengis.net/wfs"</namespace>
      <nodeSelectXpath>//gml:featureMember</nodeSelectXpath>
      <featureTagName>eo1:name</featureTagName>
      <coordsTagName>eo1:location</coordsTagName>
      <coordSelectXpath>//eo1:location/gml:Point/gml:pos</coordSelectXpath>
    </FeatureCollection>
    
  </models>
  
  <widgets>
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/UndoDisable.png</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/RedoDisable.png</disabledSrc>
    </Forward>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <SetAoi id="setAoi">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/SetAoiEnable.png</enabledSrc>
      <disabledSrc>/images/SetAoiDisable.png</disabledSrc>
    </SetAoi>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
    <Save id="save">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/SaveDisable.png</disabledSrc>
      <popupWindowName>modelXML</popupWindowName>
    </Save>
   </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
