#general{
position:absolute;
background-color:#baf9ff;
width:580px;
height:430px;

}
#layerTest
{
position:absolute;
background-color:#baf9ff;
top:100px;
border:1px solid #335533;
width:650px;
height:290px;
left:1050px;
}


#choixchamp{
top:0px;
position:absolute;
border:1px solid #335533;
width:600px;
height:250px;
left:10px;
}
#choixchamp2{
top:10px;
position:absolute;
border:1px solid #335533;
width:300px;
height:150px;
left:10px;
}
.choixchamp2{
position:relative;
top:30px;
left:20px;
}

.choixchamp2pics{
position:relative;
top:20px;
left:150px;
}
.choixchamp3pics{
position:relative;
top:0px;
left:20px;
}
#choixfeatureProperty
{
width:200px;
}
#LegendType{
position:relative;
top:0px;
}
#choixFeature{

position:relative;
top:0px;
}
#editFile
{
position:relative;

width:270px;
height:75px;

}
.editFile
{

}
#table{
border:1px solid #335533;
position:relative;
top:70px;
left:0px;
width:250px;
height:120px;
}

.newruleclass
{
position:relative;
width:80px;
}
#bordurestyle
{
border:1px solid #335533;
position:relative;
top:180px;
width:200px;
}
#insertSLD
{
position:relative;
top:50px;

}
#color
{
width:280px;
border:1px solid #335533;
position:relative;
top:-50px;
left:298px;

}
#workspaceCanvas{
width:600px;
height:600px;
}
#uniqueSymbole{
position:relative;
border:1px solid #335533;
left:300px;
top:-50px;
width:300px;
height:200px;
}
.colorbox
{
position:relative;
border:1px solid #335533;
top:40px;
}
.colorBoxName
{
position:relative;
}
.colorinput
{
position:relative;
}
.colorNameInput
{
position:relative;
}
.buttonValid
{
position:relative;
top:50px;
}
.editFileInput
{
width:50px;
}