Description

	{ font-weight:normal;font-family:Arial;font-size:8pt;}



Constructor Properties, Methods, Global_Vars, Functions

	{ clear:left;display:block;margin-left:10pt;font-weight:bold;}



Constructor Name, Function Name, Var Name

	{ 	margin-top:5pt; clear:left; display:block; width:1pt;

		font-size:10pt;font-weight:bold;

		color:red;background-color:#CCCCCC;

	}



Constructor Description

	{ margin-left:8pt;color:black;}



Properties Name

	{ 	margin-top:0pt;margin-left:20pt;

		color:#006600; background-color:transparent;}



Methods Name

	{ 	margin-top:0pt;margin-left:20pt;

		color:#000066; background-color:transparent;}



Properties Description, Methods Description

	{ margin-top:0pt;margin-left:30pt;color:black;}



Parameters

	{ 	margin-left:30pt;clear:left;display:block;

		font-weight:normal;font-family:Arial;font-style:italic;font-size:8pt;}



Parameter, Var {display:block;}



Parameter Name, Var Name

	{ 	clear:left;display:inline;margin-top:0pt;  background-color:transparent;

		font-weight:normal;font-family:Arial;font-size:8pt;}



Parameter Description, Var Description

	{	margin-left:5pt; margin-top:0pt;display:inline; background-color:transparent;

		font-style:normal;}

