<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="referenceTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder /mapbuilder/lib/schemas/config.xsd">
  <!--
    Description: This configuration file determines what components from the
                 Mapbuilder library are to be included in a Main Mapbuilder web
                 page.
    Licence:     GPL as per: http://www.gnu.org/copyleft/gpl.html 

    $Id: CompleteConfig.xml,v 1.91 2005/01/24 11:34:31 camerons Exp $
  -->
   <models>
    <Model id="postalCode">
      <widgets>
        <Widget id="postalCodeLookup">
          <stylesheet>PostalCodeLookup.xsl</stylesheet>
       </Widget>
      </widgets>
    </Model>
   </models>

  <widgets>
    <PostalCodeForm id="postalCodeForm">
      <targetModel>postalCode</targetModel>
      <scriptFile>PostalCodeForm.js</scriptFile>
      <stylesheet>PostalCodeForm.xsl</stylesheet>
      <webServiceUrl>http://geoservices.cgdi.ca/cgi-bin/postalcode/postalcode.cgi</webServiceUrl>
    </PostalCodeForm>
  </widgets>
  <skinDir>../skin</skinDir>
  <widgetTextUrl>widgetText.xml</widgetTextUrl>
</MapbuilderConfig>
