<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<ViewContext version="1.0.0" id="atlas_world" xmlns="http://www.opengis.net/context" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/context http://schemas.opengis.net/context/1.0.0/context.xsd">
  <General>
    <Window width="500" height="400"/>
    <BoundingBox SRS="EPSG:4326" minx="-80" miny="45" maxx="-30" maxy="70"/>
    <Title>Canada</Title>
    <KeywordList>
      <Keyword>Canada</Keyword>
    </KeywordList>
    <Abstract></Abstract>
  </General>
  <LayerList>
    <Layer queryable="0" hidden="0">
      <Server service="OGC:WMS-C" version="1.0.0" title="OGC:WMS-C">
        <OnlineResource xlink:type="simple" xlink:href="http://labs.metacarta.com/wms/vmap0"/>
      </Server>
      <Name>basic</Name>
      <Title>basic</Title>
      <SRS>EPSG:4326 EPSG:4269</SRS>
      <FormatList>
        <Format>image/jpeg</Format>
        <Format>image/png</Format>
        <Format>image/gif</Format>
        <Format current="1">image/png; mode=24bit</Format>
        <Format>image/wbmp</Format>
        <Format>image/tiff</Format>
      </FormatList>
      <StyleList>
        <Style current="1">
          <Name>default</Name>
          <Title>default</Title>
        </Style>
      </StyleList>
    </Layer>
    <Layer queryable="1" hidden="0">
      <Server service="OGC:WMS" version="1.1.1" title="Local">
        <OnlineResource xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms"/>
      </Server>
      <Name>gb:AdministrativeArea</Name>
      <Title>Administrative Area</Title>
      <Abstract>Administrative Area</Abstract>
      <SRS>EPSG:4326</SRS>
      <FormatList>
        <Format current="1">image/gif</Format>
      </FormatList>
      <StyleList>
        <Style current="1">
          <Name>cite_lakes</Name>
          <Title>Default Styler</Title>
          <Abstract/>
          <!--LegendURL width="20" height="20">
            <Format>image/gif</Format>
            <OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms/GetLegendGraphic?VERSION=1.0.0&amp;FORMAT=image/gif&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=gb:AdministrativeArea"/>
          </LegendURL-->
        </Style>
      </StyleList>
    </Layer>
    <Layer queryable="1" hidden="0">
      <Server service="OGC:WMS" version="1.1.1" title="Local">
        <OnlineResource xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms"/>
      </Server>
      <Name>gb:RoadSegment</Name>
      <Title>Roads</Title>
      <Abstract>Roads</Abstract>
      <SRS>EPSG:4326</SRS>
      <FormatList>
        <Format current="1">image/gif</Format>
      </FormatList>
      <StyleList>
        <Style current="1">
          <Name>simple_roads</Name>
          <Title>Default Styler for simple road segments</Title>
          <Abstract/>
          <!--LegendURL width="20" height="20">
            <Format>image/gif</Format>
            <OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms/GetLegendGraphic?VERSION=1.0.0&amp;FORMAT=image/gif&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=gb:RoadSegment"/>
          </LegendURL-->
        </Style>
      </StyleList>
    </Layer>
    <Layer queryable="1" hidden="0">
      <Server service="OGC:WMS" version="1.1.1" title="Local">
        <OnlineResource xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms"/>
      </Server>
      <Name>gb:PlaceName</Name>
      <Title>Places</Title>
      <Abstract>Places</Abstract>
      <SRS>EPSG:4326</SRS>
      <FormatList>
        <Format current="1">image/gif</Format>
      </FormatList>
      <StyleList>
        <Style current="1">
          <Name>capitals</Name>
          <Title>Default Styler</Title>
          <Abstract/>
          <!--LegendURL width="20" height="20">
            <Format>image/gif</Format>
            <OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:type="simple" xlink:href="http://geocon.sunertek.com:8080/geoserver/wms/GetLegendGraphic?VERSION=1.0.0&amp;FORMAT=image/gif&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=gb:PlaceName"/>
          </LegendURL-->
        </Style>
      </StyleList>
    </Layer>
  </LayerList>
</ViewContext>
