/*
$Id: controlPanel.css 2967 2007-07-11 06:51:02Z ahocevar $
Styles for buttonBar
*/
/*
.olControlPanel {
	height: 24px;
} */

.olControlPanel div { 
	display: block;
	float: left;
	cursor: pointer;
	width:  24px;
	height: 24px;
	background-color:red;
}