<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <Context id="mainMap">
      <defaultModelUrl>../data/context/cded.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <fixedSize>true</fixedSize>
        </MapPaneOL>
        <CursorTrack id="cursorTrack">
          <showPx>true</showPx>
          <showXY>true</showXY>
          <showLatLong>true</showLatLong>
          <showDMS>false</showDMS>
          <showMGRS>false</showMGRS>
          <precision>2</precision>
          <stylesheet>./CursorTrack.xsl</stylesheet>
        </CursorTrack>
        <MapScaleText id="scaleText"/>
        <!--Loading2 id="loading2">
          <mapContainerId>mainMapContainer</mapContainerId>
        </Loading2-->
      </widgets>
      <tools>
        <History id="extentHistory"/>
      </tools>
    </Context>
    <Model id="proj4jsMapExamples">
      <defaultModelUrl>Proj4jsMapExamples.xml</defaultModelUrl>
      <widgets>
        <CollectionList id="maps">
          <targetModel>mainMap</targetModel>
          <preserveExtent>false</preserveExtent>
        </CollectionList>
      </widgets>
    </Model>
    <FeatureCollection id="gml2FeatureTemplate">
      <widgets>
         <GmlRendererOL id="vectorGraphicsRenderer">
          <targetModel>mainMap</targetModel>
          <featureSRS>EPSG:4326</featureSRS>
          <sldModel>sld</sldModel>
          <defaultStyleName>Normal</defaultStyleName>
          <selectStyleName>Highlite</selectStyleName>
          <featureOnClick>featurePopup</featureOnClick>
        </GmlRendererOL>
        <TipWidgetOL id="featurePopup">
          <width>275</width>
          <height>137</height>
          <opacity>0.8</opacity>
          <backgroundColor>#D0D0D0</backgroundColor>
          <border>1px solid black</border>
        </TipWidgetOL>
        <!--Legend id="wfsLegend">
          <htmlTagId>legend</htmlTagId>
        </Legend-->
      </widgets>
      <tools>
        <FeatureSelectHandler id="featureHighlighter">
          <targetModel>mainMap</targetModel>
        </FeatureSelectHandler>
      </tools>
      <namespace>xmlns:gml="http://www.opengis.net/gml" xmlns:eo1="http://eo1.gsfc.nasa.gov/" xmlns:wfs="http://www.opengis.net/wfs"</namespace>
      <nodeSelectXpath>//gml:featureMember</nodeSelectXpath>
      <featureTagName>eo1:name</featureTagName>
      <coordsTagName>eo1:location</coordsTagName>
      <coordSelectXpath>//eo1:location/gml:Point/gml:pos</coordSelectXpath>
    </FeatureCollection>
    
  </models>
  <widgets>
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/UndoDisable.png</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/RedoDisable.png</disabledSrc>
    </Forward>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
