<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate"
  xmlns="http://mapbuilder.sourceforge.net/mapbuilder"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <OwsContext id="mainMap">
      <defaultModelUrl>google.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <fixedSize>true</fixedSize>
        </MapPaneOL>
       <PanZoomBar id="panZoomBar"/>
      </widgets>
      <tools>
        <History id="extentHistory"/>
      </tools>
      <nodeSelectXpath>/wmc:ViewContext/wmc:LayerList/wmc:Layer</nodeSelectXpath>
    </OwsContext>

    <StyledLayerDescriptor id="sld">
      <defaultModelUrl>features.sld</defaultModelUrl>
    </StyledLayerDescriptor>

    <Model id="news">
      <defaultModelUrl>news.xml</defaultModelUrl>
      <widgets>
        <FeatureList id="featureListNews">
          <scriptFile>FeatureList.js</scriptFile>
          <stylesheet>FeatureList.xsl</stylesheet>
        </FeatureList>
        <GmlRendererConfig id="rendererConfigNews">
          <featureSRS>EPSG:31285</featureSRS>
          <sldModel>sld</sldModel>
          <defaultStyleName>defaultNews</defaultStyleName>
          <selectStyleName>selectedNews</selectStyleName>
          <hoverCursor>pointer</hoverCursor>
          <targetWidget>gmlRenderer</targetWidget>
        </GmlRendererConfig>
        <TipWidgetConfig id="featurePopupNews">
          <stylesheet>TipWidgetOL.xsl</stylesheet>
          <width>200</width>
          <height>40</height>
          <opacity>0.8</opacity>
          <backgroundColor>#D0D000</backgroundColor>
          <border>1px solid black</border>
          <targetWidget>featurePopup</targetWidget>
        </TipWidgetConfig>
      </widgets>
      <namespace>xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:pmb="http://nsuri.notld/poweredByMapbuilder"</namespace>
    </Model>
    
    <Model id="scenario">
      <defaultModelUrl>scenario.xml</defaultModelUrl>
      <widgets>
        <FeatureList id="featureListScenario">
          <scriptFile>FeatureList.js</scriptFile>
          <stylesheet>FeatureList.xsl</stylesheet>
        </FeatureList>
        <GmlRendererConfig id="rendererConfigScenario">
          <featureSRS>EPSG:31285</featureSRS>
          <sldModel>sld</sldModel>
          <defaultStyleName>defaultScenario</defaultStyleName>
          <selectStyleName>selectedScenario</selectStyleName>
          <hoverCursor>pointer</hoverCursor>
          <targetWidget>gmlRenderer</targetWidget>
        </GmlRendererConfig>
        <TipWidgetConfig id="featurePopupScenario">
          <stylesheet>TipWidgetOL.xsl</stylesheet>
          <width>200</width>
          <height>40</height>
          <opacity>0.8</opacity>
          <backgroundColor>#D0D0D0</backgroundColor>
          <border>1px solid black</border>
          <targetWidget>featurePopup</targetWidget>
        </TipWidgetConfig>
      </widgets>
      <namespace>xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:pmb="http://nsuri.notld/poweredByMapbuilder"</namespace>
    </Model>
    
    <Model id="gml">
      <defaultModelUrl>empty.xml</defaultModelUrl>
      <widgets>
        <GmlRendererOL id="gmlRenderer">
          <targetModel>mainMap</targetModel>
          <featureOnHover>featurePopup</featureOnHover>
        </GmlRendererOL>
        <TipWidgetOL id="featurePopup">
          <targetModel>mainMap</targetModel>
        </TipWidgetOL>
      </widgets>
      <tools>
        <FeatureSelectHandler id="featureHighlighter">
          <targetModel>mainMap</targetModel>
        </FeatureSelectHandler>
        <MergeModels>
          <merges>
            <merge>scenario</merge>
            <merge>news</merge>
          </merges>
        </MergeModels>
      </tools>
      <namespace>xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:pmb="http://nsuri.notld/poweredByMapbuilder"</namespace>
    </Model>

  </models>

  <widgets>
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/UndoDisable.png</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/RedoDisable.png</disabledSrc>
    </Forward>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
