<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate"
  xmlns="http://mapbuilder.sourceforge.net/mapbuilder"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">

  <models>
    <OwsContext id="mainMap">
      <defaultModelUrl>context.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
          <maxResolution>0.703125</maxResolution>
        </MapPaneOL>
		<AoiLink id="updateClientLink">
			<href>../update/index.html</href>
			<linkLabel>Updates</linkLabel>
		</AoiLink>
		<AoiLink id="eventClientLink">
			<href>../event/index.html</href>
			<linkLabel>Events</linkLabel>
		</AoiLink>
		<AoiLink id="feedbackClientLink">
			<href>../feedback_client/index.html</href>
			<linkLabel>User Feedback</linkLabel>
		</AoiLink>
		<AoiLink id="discoveryClientLink">
			<href>../catalog/catalog.html</href>
			<linkLabel>Geobase Discovery</linkLabel>
		</AoiLink>
        <CursorTrack id="cursorTrack"/>
      </widgets>
    </OwsContext>
    
    <!--
    <ContextCollection id="collectionGroup">
      <defaultModelUrl>contextCollection.xml</defaultModelUrl>
      <widgets>
        <CollectionList id="collectionList">
          <targetModel>mainMap</targetModel>
        </CollectionList>
      </widgets>
    </ContextCollection>

    -->

<!--
    <Model id="featureItem">
      <widgets>
        <FeedbackFeatureList id="featureList"></FeedbackFeatureList>
      </widgets>
    </Model>

-->

    <FeatureCollection id="featureCollection">

      <!--
      <defaultModelUrl>http://www.pvretano.com/cgdi/cwwfs.cgi?SERVICE=WFS&amp;VERSION=1.0.0&amp;REQUEST=GetFeature&amp;TYPENAME=cw:UPDATEFEED&amp;outputFormat=ATOM</defaultModelUrl>
      <defaultModelUrl>http://www.pvretano.com/cgdi/cwwfs.cgi?SERVICE=WFS&amp;VERSION=1.0.0&amp;REQUEST=GetFeature&amp;TYPENAME=cw:FEEDBACKFEED&amp;outputFormat=ATOM</defaultModelUrl>
      -->
      <defaultModelUrl>testfeed.xml</defaultModelUrl>
      <widgets>
        <TipWidgetOL id="featurePopup">
          <width>200</width>
          <height>150</height>
          <opacity>0.8</opacity>
          <backgroundColor>#D0D0D0</backgroundColor>
          <border>1px solid black</border>
        </TipWidgetOL>
        
        <GmlRendererOL id="testGmlRenderer">
          <targetModel>mainMap</targetModel>
          <sldModel>sld</sldModel>
          <GeoRSS>true</GeoRSS>
          <hoverCursor>pointer</hoverCursor>
          <featureOnClick>featureList</featureOnClick>
        </GmlRendererOL>
        <Widget id="eventsListing">
          <targetModel>mainMap</targetModel>
          <stylesheet>GeoRSSListing.xsl</stylesheet>
        </Widget>
        <FeedbackFeatureList id="featureList"></FeedbackFeatureList>
      </widgets>
      <tools>
        <FeatureSelectHandler id="featureHighlighter">
          <targetModel>mainMap</targetModel>
        </FeatureSelectHandler>
      </tools>
      <namespace>xmlns:gml='http://www.opengis.net/gml' xmlns:wfs='http://www.opengis.net/wfs' xmlns:topp='http://www.openplans.org/topp' xmlns:cw="http://www.cubewerx.com/cw" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:georss="http://www.georss.org/georss"</namespace>
    </FeatureCollection>
  </models>
  
  <widgets>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar> 
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
    <GetFeatureInfo id="getFeatureInfo">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>featureCollection</targetModel>
      <targetContext>mainMap</targetContext>
      <class>RadioButton</class>
      <enabledSrc>/images/QueryEnable.png</enabledSrc>
      <disabledSrc>/images/QueryDisable.png</disabledSrc>
    </GetFeatureInfo>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
