<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <OwsContext id="mainMap">
      <scriptFile>OwsContext.js</scriptFile>
      <defaultModelUrl>context.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <scriptFile>MapPaneOL.js</scriptFile>
          <htmlTagId>mainMapPane</htmlTagId>
           <displayOutsideMaxExtent>true</displayOutsideMaxExtent>
          <fixedSize>true</fixedSize>
        </MapPaneOL>
        <!--
        <Loading2 id="loading2">
          <mapContainerId>mainMapPane</mapContainerId>
        </Loading2>
        -->
        <LayerControl id="contextLegend">
          <scriptFile>LayerControl.js</scriptFile>
          <stylesheet>LayerControl.xsl</stylesheet>
          <htmlTagId>layerControl</htmlTagId>
          <title>Layer Control</title>
        </LayerControl>        
        <LayerMetadata id="layerMetadata1">
          <scriptFile>LayerMetadata.js</scriptFile>
          <stylesheet>LayerMetadata.xsl</stylesheet>
        </LayerMetadata>
        <!--
        <LayerMaxFeatures id="layerMaxFeatures">
          <maxFeatures>5</maxFeatures>
        </LayerMaxFeatures>
        -->
        <CursorTrack id="cursorTrack"/>
        <ModelUrlInput id="urlInput">
        </ModelUrlInput>
      </widgets>
    </OwsContext>
    <!-- Contains the results of a catalog search -->
    <Model id="catalogSearchResults">
      <!--defaultModelUrl>WRS_Service+Layers_GetRecords.xml</defaultModelUrl-->
      <widgets>
        <Loading2 id="loading">
          <htmlTagId>loading</htmlTagId>
          <imageSrc>/images/LoadingSpinner.gif</imageSrc>
          <textMessage>searching</textMessage>
        </Loading2>
      </widgets>
    </Model>
    <!-- Contains the results of a search, converted into OWSContext format -->
    <OwsContext id="normalizedSearchResults">
      <!--
      -->
      <defaultModelUrl>context2.xml</defaultModelUrl>
      <widgets>
        <LayerControl id="selectLayer">
          <scriptFile>LayerControl.js</scriptFile>
          <stylesheet>LayerControl.xsl</stylesheet>
          <htmlTagId>selectLayer</htmlTagId>
          <targetModel>mainMap</targetModel>
          <title>Search Results</title>
          <mode>layerselect</mode><!-- options: default, selectlayer -->
          <!--
          <limitImageEnable>/images/LimitDisable.png</limitImageEnable>
          <limitImageDisable>/images/LimitDisable.png</limitImageDisable>
          <saveImageEnable>/images/SaveEnable.png</saveImageEnable>
          <saveImageDisable>/images/SaveDisable.png</saveImageDisable>
          <loadingImage>/images/LoadingSpinner.gif</loadingImage>
          -->
        </LayerControl>
        <LayerMetadata id="layerMetadata2">
          <scriptFile>LayerMetadata.js</scriptFile>
          <stylesheet>LayerMetadata.xsl</stylesheet>
        </LayerMetadata>
      </widgets>
    </OwsContext>
    <Model id="filterExpression">
      <defaultModelUrl>filter.xml</defaultModelUrl>
      <widgets>
        <CatalogSearchForm id="catalogSearchForm">
          <scriptFile>CatalogSearchForm.js</scriptFile>
          <stylesheet>CatalogSearchForm.xsl</stylesheet>
          <htmlTagId>catalogSearchForm</htmlTagId>
          <targetModel>catalogSearchResults</targetModel>
          <targetContext>normalizedSearchResults</targetContext>
          <wrsUrl>http://www.cubewerx-cgdi.com/Lisasoft/cubeserv.cgi</wrsUrl>
          <wrsServiceAssociation>Serves</wrsServiceAssociation><!-- Can be: Serves, OperatesOn -->
          <mapModel>mainMap</mapModel>
          <sourceContext>mainMap</sourceContext>
          <conversionStyleSheet>ebrim2Context.xsl</conversionStyleSheet>
          <convert2ContextXsl>ebrim2Context.xsl</convert2ContextXsl>
          <queryXsl>wrs_Query.xsl</queryXsl>
        </CatalogSearchForm>
      </widgets>
    </Model>
    <!--
    <Model id="locationSearch">
      <defaultModelUrl>locationSearch.xml</defaultModelUrl>
      <widgets>
        <LocationSearch id="locationSearchForm">
          <htmlTagId>locationSearch</htmlTagId>
          <targetModel>locationResults</targetModel>
          <wfsUrl>http://www.pvretano.com/cgdi/geoserver/cwwfs.cgi</wfsUrl>

          <resultNameXpath>concat(gb:PlaceName/gb:geographicalName, ' (', gb:PlaceName/gb:regionName , ')')</resultNameXpath> 
          <resultValueXpath>.//gml:Point/gml:coordinates</resultValueXpath> 

        </LocationSearch>
      </widgets>
    </Model>
    -->

    <!--
    <Model id="locationResults">
      <widgets>
        <Loading2 id="loadingLocationSearch">
          <htmlTagId>loadingLocationSearch</htmlTagId>
          <imageSrc>/images/LoadingSpinner.gif</imageSrc>
          <textMessage>searching</textMessage>
        </Loading2>
      </widgets>
    </Model>
    -->
    <Model id="catalogCollection">
      <defaultModelUrl>../data/context/worldMapsAtomFeed.xml</defaultModelUrl>
      <widgets>
        <SelectFromAtomFeed id="selectFromAtomFeed">
          <htmlTagId>selectFromAtomFeed</htmlTagId>
          <targetModel>mainMap</targetModel>
        </SelectFromAtomFeed>
      </widgets>
    </Model>
  </models>
  <widgets>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
    <Save id="saveContext">
      <scriptFile>Save.js</scriptFile>
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/SaveDisable.png</disabledSrc>
      <tooltip>Save OWS Context</tooltip>
    </Save>
    <ExampleList id="exampleList"><!-- this is the widget that draws the example menu -->
      <scriptFile>../ExampleList.js</scriptFile>
      <stylesheet>../ExampleList.xsl</stylesheet>
    </ExampleList>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>

