<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
  <models>
    <Context id="mainMap">
      <defaultModelUrl>../data/context/metacartaWorldMap.xml</defaultModelUrl>
      <widgets>
        <MapPaneOL id="mainMapWidget">
          <htmlTagId>mainMapPane</htmlTagId>
        </MapPaneOL>
        <CursorTrack id="cursorTrack">
          <precision>5</precision>
        </CursorTrack>
        <OverviewMap id="locatorWidget">
          <htmlTagId>locatorMap</htmlTagId>
          <width>180</width>
        </OverviewMap>
        <LayerControl id="contextLegend">
          <autoRefresh>false</autoRefresh>
          <opacity>true</opacity>
          <legendImageEnable>/images/LegendEnable.png</legendImageEnable>
          <legendImageDisable>/images/LegendDisable.png</legendImageDisable>
          <moveUpImage>/images/LayerMoveUpDisable.png</moveUpImage>
          <moveDownImage>/images/LayerMoveDownDisable.png</moveDownImage>
          <deleteImage>/images/LayerRemoveDisable.png</deleteImage>
        </LayerControl>
      </widgets>
      <tools>
        <History id="extentHistory"/>
      </tools>
    </Context>
  </models>

  <widgets>
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/UndoDisable.png</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/RedoDisable.png</disabledSrc>
    </Forward>
    <ZoomIn id="zoomIn">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <selected>true</selected>
      <enabledSrc>/images/ZoomInEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomInDisable.png</disabledSrc>
    </ZoomIn>
    <ZoomOut id="zoomOut">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
      <disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
    </ZoomOut>
    <DragPan id="dragPan">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>RadioButton</class>
      <enabledSrc>/images/PanEnable.png</enabledSrc>
      <disabledSrc>/images/PanDisable.png</disabledSrc>
    </DragPan>
    <Reset id="reset">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
    </Reset>
  </widgets>
  <skinDir>../../lib/skin/default</skinDir>
</MapbuilderConfig>
