<?xml version="1.0" encoding="utf-8" standalone="no"?>
<MapbuilderConfig version="0.2.1" id="simpleTemplate" xmlns="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://mapbuilder.sourceforge.net/mapbuilder ../../lib/schemas/config.xsd">
	<models>
		<Context id="mainMap">
			<defaultModelUrl>bejingWind.xml</defaultModelUrl>
      <nodeSelectXpath>/wmc:ViewContext/wmc:LayerList/wmc:Layer</nodeSelectXpath>
			<widgets>
				<MapPane id="mainMapWidget">
					<htmlTagId>mainMapPane</htmlTagId>
					<mapContainerId>mainMapContainer</mapContainerId>
				</MapPane>
				<AoiBoxDHTML id="aoiBoxMain">
					<htmlTagId>mainMapPane</htmlTagId>
					<mapContainerId>mainMapContainer</mapContainerId>
					<lineColor>#FF0000</lineColor>
					<lineWidth>2</lineWidth>
					<crossSize>15</crossSize>
				</AoiBoxDHTML>
        <MapScaleBar id="scalebar">
          <!--all of these properties are optional-->
          <!--displaySystem>english</displaySystem-->
          <displaySystem>metric</displaySystem>
          <minWidth>100</minWidth>
          <maxWidth>200</maxWidth>
          <divisions>4</divisions>
          <subdivisions>2</subdivisions>
          <showMinorMeasures>false</showMinorMeasures>
          <abbreviateLabel>true</abbreviateLabel>
          <singleLine>true</singleLine>
          <align>left</align><!-- left, center, or right -->
        </MapScaleBar>
        <CursorTrack id="cursorTrack">
          <mouseHandler>mainMap</mouseHandler>
          <showXY>false</showXY>
        </CursorTrack>
        <Legend id="legend">
          <stylesheet>LegendOpaque.xsl</stylesheet>
        </Legend>
        <LegendGraphic id="legendGraphic"/>
        <Widget id="mapAbstract">
          <stylesheet>../../lib/widget/Abstract.xsl</stylesheet>
          <htmlTagId>workspace</htmlTagId>
          <outputNodeId>workspaceCanvas</outputNodeId>
        </Widget>
        <Widget id="mapTitle">
          <stylesheet>../../lib/widget/MapTitle.xsl</stylesheet>
        </Widget>
        <Loading2 id="loading2">
					<mapContainerId>mainMapContainer</mapContainerId>
        </Loading2>
			</widgets>
			<tools>
				<AoiMouseHandler id="mainAoi"/>
				<DragPanHandler id="mainDragPan">
					<enabled>false</enabled>
				</DragPanHandler>
        <History id="extentHistory"/>
				<WebServiceRequest id="featureInfoController">
					<targetModel>featureInfoResponse</targetModel>
					<requestName>wms:GetFeatureInfo</requestName>
          <!--infoFormat>text/html</infoFormat-->
          <infoFormat>application/vnd.ogc.gml</infoFormat>
          <featureCount>1</featureCount>
				</WebServiceRequest>
			</tools>
		</Context>
    <Context id="locator">
      <defaultModelUrl>../data/context/locatorDemis.xml</defaultModelUrl>
      <widgets>
        <MapPane id="locatorWidget">
          <htmlTagId>locatorMap</htmlTagId>
          <mapContainerId>locatorContainer</mapContainerId>
          <fixedWidth>180</fixedWidth>
          <extraAttributes>false</extraAttributes>
        </MapPane>
        <AoiBoxDHTML id="aoiBoxLocator">
          <htmlTagId>locatorMap</htmlTagId>
          <mapContainerId>locatorContainer</mapContainerId>
          <lineColor>#FF0000</lineColor>
          <lineWidth>1</lineWidth>
          <crossSize>15</crossSize>
        </AoiBoxDHTML>
      </widgets>
      <tools>
        <AoiMouseHandler id="locatorAoi" />
        <ZoomToAoi id="locatorZoomToAoi">
          <targetModel>mainMap</targetModel>
        </ZoomToAoi>
      </tools>
    </Context>
    <Model id="featureInfoResponse" template="true">
      <namespace>xmlns:gml='http://www.opengis.net/gml' xmlns:wfs='http://www.opengis.net/wfs' xmlns:topp='http://www.openplans.org/topp'</namespace>
      <widgets>
        <FeatureInfo id="features">
          <htmlTagId>workspace</htmlTagId>
          <outputNodeId>workspaceCanvas</outputNodeId>
        </FeatureInfo>
      </widgets>
    </Model>
	</models>
	<widgets>
    <!--TabbedContent id="tabBar">
      <tab>mapAbstract</tab>
      <tab>features</tab>
    </TabbedContent-->
    <Back id="back">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/UndoDisable.png</disabledSrc>
    </Back>
    <Forward id="forward">
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <class>Button</class>
      <disabledSrc>/images/RedoDisable.png</disabledSrc>
    </Forward>
		<ZoomIn id="zoomIn">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainAoi</mouseHandler>
			<class>RadioButton</class>
			<selected>true</selected>
			<enabledSrc>/images/ZoomInEnable.png</enabledSrc>
			<disabledSrc>/images/ZoomInDisable.png</disabledSrc>
		</ZoomIn>
		<ZoomOut id="zoomOut">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainAoi</mouseHandler>
			<class>RadioButton</class>
			<enabledSrc>/images/ZoomOutEnable.png</enabledSrc>
			<disabledSrc>/images/ZoomOutDisable.png</disabledSrc>
		</ZoomOut>
		<DragPan id="dragPan">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<mouseHandler>mainDragPan</mouseHandler>
			<class>RadioButton</class>
			<enabledSrc>/images/PanEnable.png</enabledSrc>
			<disabledSrc>/images/PanDisable.png</disabledSrc>
		</DragPan>
    <GetFeatureInfo id="getFeatureInfo">
      <scriptFile>GetFeatureInfo.js</scriptFile>
      <buttonBar>mainButtonBar</buttonBar>
      <targetModel>mainMap</targetModel>
      <mouseHandler>mainAoi</mouseHandler>
      <class>RadioButton</class>
      <enabledSrc>/images/QueryEnable.png</enabledSrc>
      <disabledSrc>/images/QueryDisable.png</disabledSrc>
    </GetFeatureInfo>
		<Reset id="reset">
			<buttonBar>mainButtonBar</buttonBar>
			<targetModel>mainMap</targetModel>
			<class>Button</class>
			<disabledSrc>/images/ResetExtentDisable.png</disabledSrc>
		</Reset>
	</widgets>
	<skinDir>/mapbuilder/lib/skin/default</skinDir>
	<widgetTextUrl>widgetText.xml</widgetTextUrl>
	<!-- relative to the skin dir -->
</MapbuilderConfig>
